.nav-menu{
	background-color: #006989;
	width: 200px;
	height: 300px;
	border-radius: 4px;
	padding: 0px;
	margin: 0px;
}

.nav-menu-items{
	list-style: none;
}

.nav-text{
	height: 40px;
	padding: 10px;
	width: 120px;
}

.nav-text a{
	color: #EAEBED;
	display: flex;
	justify-content: start;
	border-radius: 4px;
}

.nav-text a:hover{
	background-color: #A3BAC3;
	color: #006989;
}

.nav-menu-items{
	width: 100%;	
}