/* color scheme
#3D5A80 - dark blue
#98C1D9 - light blue
#E0FBFC - white blue
#EE6C4D - orange
#293241 - black blue
*/

.nav-menu-items{
	list-style: none;
	padding-right: 0;
	padding-left:0;
}

.nav-text{
	height: 8vh;
	width: 100%;
	border-radius: 4px;
	text-align: center;
}

.nav-text a{
	color: #293241;
	height: 95%;
	width: 100%;
	display: flex;
	border-radius: 5px;
}

.nav-text a:hover{
	background-color: #3D5A80;
	color: #E0FBFC;
}

.nav-text a:active{
	background-color: #EE6C4D;
	color: #E0FBFC;
}
